body{
  margin: 0;
  max-width: 1280px;
  max-height: 681px;
  margin-right: auto;
  margin-left: auto;
  background-color: #000000;
}

#point{
  cursor: pointer;
}

.whole{
  margin-left: auto;
  margin-right: auto;
  width: 908.8px;
  height: 681px;
}

.square{
  margin: 0;
  width: 128.51px;
  height: 681.6px;
  background-color: #9E9E9E;
  box-shadow: 7px 7px 5px #000000;
  float: right;
}

.img{
  width: 217.26px;
  height: 681.6px;
  margin: 0;
  box-shadow: 7px 7px 5px #000000;
  float: right;
}
.img:hover{
  position: relative;
  left: -1px;
  top: -1px;
  z-index:0;
  -webkit-filter: drop-shadow(7px 7px 5px rgba(0, 0, 0, 0.75));
  filter: drop-shadow(7px 7px 5px rgba(0, 0, 0, 0.75));
}

.S1{
  margin: 0;
  width: 128.51px;
  /*float: right;*/
  position:absolute;
   top:0px;
   z-index:0;
}
.btn{
  position:relative;
  top:25px;
  left: 32.66px;
  z-index:1;
  width: 54.67px;
  height: 54.67px;
  -webkit-filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.75));
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.75));
}
.btn:hover{
  position: relative;
  left: 34.66px;
  top: 23px;
  z-index:1;
  -webkit-filter: drop-shadow(7px 7px 5px rgba(0, 0, 0, 0.75));
  filter: drop-shadow(7px 7px 5px rgba(0, 0, 0, 0.75));
}
